@model Contact
@{
    ViewData["Title"] = "Apagar contato";
}

<div class="text-center">

    <h3>Realmente deseja apagar o contato @Model.Name?</h3>

</div>
<br />

<h3 class="display-4">Detalhes</h3>
<br/>
<div >
    <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
    <p>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</p>
    <p>@Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)</p>
</div>

<br>

<form asp-controller="Contact" asp-action="Delete" method="post">
    <input type="hidden" asp-for="@Model.Id"/>
    <button type="submit" class="btn btn-danger">Confirmar exclusão</button>
    <a class="btn btn-primary" role="button" asp-action="Index" asp-controller="Contact">Cancelar exclusão</a>
</form>


